@{
    ViewData["Title"] = "GameRoom";
}

<div id="loginBlock">
    <label>MyName:</label>
    <input id="userName" type="text" class="form-control" value="@ViewBag.UserName" />
    <label>idGame:</label>
    <input id="idGame" type="text" class="form-control" value="" />
    <label>Имя второго игрока</label>
    <input id="nameOtherPlayer" type="text" class="form-control" value="" />
</div>

<div class="cross-head">
    <h3 id="header-game">Пожалуйста, подождите подключения игрока</h3>
</div>
<div class="cross-wrapper">
    <div>
        <div id="header"><h4>Привет, @ViewBag.UserName!</h4></div>
        <br />
        <p>
            some information
        </p>
    </div>
    <div class="cross-field">
        <table style="border: 2px solid white; border-collapse: collapse">
            @for(int i=0;i<3;i++)
            {
                <tr>
                    @for(int j=0;j<3;j++)
                    {
                        <td>
                            <div>
                                <input name="btnGame" class="btn btn-outline-primary" type="button" id=@(i.ToString()+j.ToString()) value="" disabled="disabled">
                            </div>
                        </td>
                    }
                    </tr>
            }
        </table>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script>
    const hubConnection = new signalR.HubConnectionBuilder()
    .withUrl("/gamecross")
        .build();
    
    let myName = document.getElementById("userName").value;

    hubConnection.on("Wait", function (idGame, Player1, Player2) {
        if(Player1===myName)
        {
            document.getElementById("header-game").innerHTML = "Ожидайте подключения второго игрока";
            document.getElementById("idGame").value = idGame;
        }
        if (Player2 === myName) {
            document.getElementById("header-game").innerHTML = "Проверка состояния Player 1";
            document.getElementById("idGame").value = idGame;
            document.getElementById("nameOtherPlayer").value = Player1;
            hubConnection.invoke("PingPlayers", document.getElementById("idGame").value);
            document.getElementById("goGame").disabled = false;
        }
    });



    hubConnection.on("ConnectionTest", function (idGame) {
        if(idGame===document.getElementById("idGame").value)
        {
            hubConnection.invoke("ResponsePing", idGame, myName);
        }
    });

    hubConnection.on("GoGame", function (idGame, nameGoPlayer) {
        if (idGame === document.getElementById("idGame").value) {
            if (nameGoPlayer === myName) {
                //let btns = document.getElementsByName("btnGame");
                //for(let i=0; i<btns.length; i++)
                //alert(btns[i].name);
                document.getElementById("header-game").innerHTML = "Ваш ход";
                
            }
            else
            {
                document.getElementById("header-game").innerHTML = "Ожидайте, ход вашего противника";
            }
        }
    });



    hubConnection.start()
        .then(function () {
            hubConnection.invoke("Start", myName);
        })
        .catch(function (err) {
            return console.error(err.toString());
        });
</script>